/* Adicione a seguinte regra ao seu CSS */
.chat-messages {
    padding: 30px;
    max-height: calc(100vh - 200px); /* Ajuste conforme necessário */
    overflow-y: auto; /* Certifique-se de que a rolagem funcione */
}

.chat-container {
    max-width: 1100px;
    background: #fff;
    margin: 30px auto;
    overflow: hidden;
    height: calc(100vh - 60px); /* Ajuste a altura total */
}

.chat-header {
    height: 60px; /* Ajuste a altura do cabeçalho */
}

.chat-form-container {
    padding: 20px 30px;
    background-color: var(--dark-color-a);
    position: absolute; /* Para fixar no fundo */
    bottom: 0; /* Fixa na parte inferior */
    width: 100%; /* Para preencher a largura */
}

/* Ajustes para dispositivos menores */
@media (max-width: 700px) {
    .chat-main {
        display: block;
    }

    .chat-sidebar {
        display: none;
    }

    .chat-messages {
        max-height: calc(100vh - 150px); /* Ajuste a altura para telas menores */
    }
}
